h2{
    
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: italic;
      
}

h5{

    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}